.container {
  font-weight: bolder;
  width: 100%;
  overflow: hidden;
  color: black;
}

header {
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95%;
  border: 5px solid;
}

td,
th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ddd;
}

#th1,
#th2 {
  width: 8%;
}

#th3 {
  text-align: right;
}

.addNew {
  display: none;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

#addNew h1,
form {
  text-align: center;
}

form input {
  width: 40%;
  font-weight: bolder;
}

#submit {
  width: auto;
  margin-left: 35%;
}

.active {
  color: blue;
}

.inActive {
  color: black;
}

.contact {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}

.contact h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

footer p {
  width: 92%;
  border: 5px solid black;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  margin-left: 2%;
  font-weight: bold;
}

.contact p,
.contact ul {
  text-align: left;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.contact ul {
  margin-left: 3rem;
}

.list {
  display: block;
  width: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  text-align: center;
}

.list h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.clock {
  text-align: right;
  margin-right: 2.5%;
}

.navbar-nav {
  list-style-type: none;
  border: 6px solid;
  margin: 0 27px;
  padding: 5px 24px 24px 24px;
}

.navbar-nav li {
  float: right;
}

.one,
.two {
  border-right: 3px solid;
}

.navbar-nav .logo {
  float: left;
}

.nav-item a {
  display: block;
  text-decoration: none;
  margin: 0 12px;
}
